@page "/"
@page "/{categoryurl}"
@inject ICategoryService CategoryService
@inject IProductService ProductService
@inject ISyncLocalStorageService LocalStorage
@inject IStatisticsService StatisticsService 

@if (category != null)
{
    <h1>Welcome to the @category.Name section!</h1>
    <ProductList />
}
else
{
    <AuthorizeView>
        <NotAuthorized>
            <h1>Welcome to My Food Market!</h1>
        </NotAuthorized>
        <Authorized>
            <h1>Welcome back to My Food Market @LocalStorage.GetItemAsString("username")!</h1>
        </Authorized>
    </AuthorizeView>
    <ProductList />
}

