@inject ISyncLocalStorageService LocalStorage
@inject ICartService CartService
@implements IDisposable 

<a href="cart" class="btn btn-info">
        <i class="oi oi-cart"></i>
        Cart
    <span class="badge badge-pill badge-light">@GetProductCount()</span>
</a>
